@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
}

.searchForm {
    align-items: center;
    justify-content: center;
}

#search {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#inputValue {
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    padding: .375rem .75rem;
}

.btn.btn-success {
    outline: none;
    border-radius: .25rem;
    /* font-weight: bold; */
    margin: 10px;
    height: 50px;
}

.buttonDisplay {
    display: flex;
    align-content: center;
    justify-content: center;
}

#searchId {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.section-movie {
    margin-top: 1rem;
    /* display: flex; */
    /* width: 100%; */
    /* overflow-x: auto; */
}

.section-movie img {
    width: 300px;
    transition: transform 1.5s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(75%);
    padding: 2px;
    border-radius: 10px;
}

.section-movie img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
    cursor: pointer;
}

#movie-searchable {
    margin-top: 1rem;
    /* overflow-x: auto; */
    /* width: 100%; */
    display: flex;
}