@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
}

.searchForm {
    align-items: center;
    justify-content: center;
}

#search {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#inputValue {
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    padding: .375rem .75rem;
}

.btn {
    outline: none;
    border-radius: .25rem;
    /* font-weight: bold; */
}